#formularioRegistro{
    margin-top: 90px;
}
#formularioConectate{
    margin-top: 90px;
}
#formularioRegistro > input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
#formularioConectate > input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
#index{
    padding: 10px;
    float: left; 
    width: 45%; 
    text-align: justify;
}
#logo{
    padding: 10px; 
    float: right; 
    width: 45%; 
    text-align: justify;
}

#logo > .col > img{
    text-align: center;
}

#botones > button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #9900CC;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-bottom: 70px;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#barrasuperior > nav > img{
    margin-right: 900px;
    margin-left: 50px;
    margin-top: 5px;
    text-align: center;
}

#barrasuperior > nav > button, #barrasuperior > nav > #botonfoto{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(15, 187, 164);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#index > #botones > h1{
    display: none;
}

BODY { 
    font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
    margin: 10 0 10 0px; 
    text-align: center; 
    background-color: #ebebeb; 
 } 
 #contenedor{ 
    text-align: left; 
    width: 770px; 
    margin: auto; 
 } 
 #cabecera{ 
    background-color: #d0d0ff; 
    color: #333300; 
    font-size:12pt; 
    font-weight: bold; 
    padding: 3 3 3 10px; 
 } 
 #cabecera > h1{
     text-align: center;
     color: rgb(15, 187, 164);
 }
 #cuerpo{ 
    margin: 10 0 10 0px; 
 } 
 #principal{ 
    margin-left: 20px; 
    background-color: #ffffff; 
    padding: 4 4 4 4px; 
 } 
 #pie{ 
    background-color: #cccccc; 
    padding: 3 10 3 10px; 
    text-align:right; 
 }

 #lateral{ 

    background-color: #999999; 
    float:right; 
 } 
 #principal{ 
    background-color: #ffffff; 
    padding: 4 4 4 4px; 
 }

 BODY { 
    font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
    margin: 10 10 10 10px; 
    text-align: center; 
    background-color: #ebebeb; 
 } 
 #contenedor{ 
    text-align: left; 
    margin: auto; 
 }