#formularioRegistro{
    margin-top: 90px;
}
#formularioConectate{
    margin-top: 90px;
}
#formularioRegistro > input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
#formularioConectate > input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
#index{
    padding: 10px;
    float: left; 
    width: 45%; 
    text-align: justify;
}
#logo{
    padding: 10px; 
    float: right; 
    width: 45%; 
    text-align: justify;
}

#logo > .col > img{
    text-align: center;
}

#botones > button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #9900CC;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-bottom: 70px;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#barrasuperior > nav > img{
    margin-right: 900px;
    margin-left: 50px;
    margin-top: 5px;
    text-align: center;
}

#barrasuperior > nav > button, #barrasuperior > nav > #botonfoto{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(15, 187, 164);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#index > #botones > h1{
    display: none;
}

#publicaciones > .card {
/* Agrega sombras para crear el efecto "tarjeta" */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  #publicaciones > .card > form{
      padding-bottom: 70px;
  }

  
/* Al pasar el mouse, agrega una sombra más profunda */
 #publicaciones >  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
/* Añadir un poco de relleno dentro del contenedor de la tarjeta*/
#publicaciones > .card > .container {
    padding: 2px 16px;
  }

/* Agregue esquinas redondeadas en la parte superior izquierda y en la esquina superior derecha de la imagen */
#publicaciones > .card > img{
    border-radius: 5px 5px 0 0;

    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

#publicaciones > .container > p{  
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}