#formularioRegistro{
    margin-top: 60px;
    text-align: center;
}

#formularioRegistro > p, #formularioConectate > p{
    font-size: 14px;
    font-weight: bold;
}

#formularioRegistro > input, #formularioConectate > input{
    padding-top: 4px;
    padding-bottom: 4px;
}

#formularioConectate{
    margin-top: 100px;
    text-align: center;
}
#formularioRegistro > input, #formularioConectate > input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

#index{
    padding: 10px;
    float: left; 
    width: 45%; 
    text-align: justify;
}
#logo{
    padding: 10px; 
    float: right; 
    width: 45%; 
    text-align: justify;
}

#logo > .col > img{
    text-align: center;
}

#botones{
    padding-top: 70px;
    text-align: center;
}
#botones > button, #formularioRegistro > .conectate, #conectar, #registro, #botones > a{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dfba61;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-bottom: 70px;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#barrasuperior{
    background-color: #e9d097;
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

#barrasuperior > nav > img{
    margin-right: 750px;
    margin-top: 5px;
    text-align: center;
}

#barrasuperior > nav > button, #barrasuperior > nav > #botonfoto{
    margin-bottom: 20px;
    background-color: #dfba61;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


#index > #botones > h1{
    display: none;
}


BODY { 
    text-align: center; 
    background-image: url("https://files.slack.com/files-pri/TFA3WCUC9-FG1P59ZEK/imagenfondo.jpg");
    font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
 } 
 #contenedor{ 
    text-align: left; 
    width: 770px; 
    margin: auto; 
    padding-top: 120px;
 } 
 #cabecera{ 
    background-color: #dfba61;  
    font-size:12pt; 
    font-weight: bold; 
    padding-left: 80px;
 } 
 #cabecera > h1{
     text-align: center;
     color: #76b4a9;
 }
 #principal{ 
    margin-left: 20px; 
    background-image: url("https://files.slack.com/files-pri/TFA3WCUC9-FG1P59ZEK/imagenfondo.jpg");; 
    padding: 4 4 4 4px; 
 } 
 #pie{ 
    background-color: #e9d097; 
    text-align:right; 
 }

 #publicaciones > .card{
     margin-bottom: 40px;
     margin-top: 30px;
     background-color: #e9d097; 
     column-count: 2;
 }

 #publicaciones > .card img{
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#publicaciones > .card > .container > h3{
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#publicaciones > .card > .comentarios{
    width: 300px;
    height: 200px;
    overflow: overlay; /* mostrando barras de desplazamiento */
    background-color: #f0e2bd; 
    margin-left: 30px;
}

::-webkit-scrollbar {
    width: 15px;
} /* esto apunta a la barra de desplazamiento por defecto (obligatorio) */

::-webkit-scrollbar-track {
    background-color: #76b5aa;
} /* La nueva barra de desplazamiento tendrá una apariencia plana con el color de fondo establecido. */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
} /* Esto le dará estilo al pulgar, ignorando la pista. */

::-webkit-scrollbar-button {
    background-color: #94a6b4;
} /* opcionalmente, puede aplicar estilo a los botones superior e inferior (izquierda y derecha para barras horizontales) */


#publicaciones > .card > .comentarios p{
    margin-left: 25px;
    font-size:10px;
}

#publicaciones > .card > .comentarios h6{
    margin-left: 25px;
    font-size:10px;
}

#publicaciones > .card > .btnEnviarCom{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dfba61;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#publicaciones > .card > .txtComentario{
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 30px;
}

#subirfotos{
    margin-top: 150px;
}


#subirfotos > form > p{
    font-size: 20px;
    font-weight: bold;
    color:#364e62;
    margin-top:50px;
}

#subirfotos > form > input.botonsubirfoto{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dfba61;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color:#364e62;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#subirfotos > form > input.textofoto{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}